doctype html
html(lang="en")
  head
    title Tasks List
  body
    h1 All Tasks
    ul
      each t in tasks
        li
          a(href=`/tasks/${t._id}`) #{t.title} (#{t.completed ? "completed" : "not completed"})
    br
    a(href="/tasks/newtask") Create a new task